@import "~bootswatch/dist/superhero/variables";

.app {
  display: flex;
  height: 100vh;
}

.nav-bar {
  display: inherit;

  .menu {
    background-color: #0e161d;
    width: 50px;
    height: 100%;
    z-index: 100;

    a {
      margin: 5px;
      width: 40px;
      height: 40px;
      color: white !important;
      text-decoration: none;
      font-size: 25px;
      line-height: 1.5;
      border-radius: 2px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: lighten(blue, 13%);
        color: white;
        text-decoration: none;
      }

      &:last-of-type {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  background: url(../images/bg1.png) no-repeat right 100px;

  &.dark {
    background: url(../images/bg2.png) no-repeat right 100px;
  }
}

// page transitions
.page {
  transition: all 0.25s ease-in-out;

  &.transition-appear {
    opacity: 0;
    transform: translateX(20px);

    &.transition-appear-active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &.transition-leave {
    opacity: 1;
    transform: translateX(-20px);

    &.transition-leave-active {
      opacity: 0;
      transform: translateX(0);
    }
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #6d4fee;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

// collapsible
.Collapsible {
  background-color: transparent;
}

//The content within the collaspable area
.Collapsible__contentInner {
  border-top: 0;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: $gray-100;
  position: relative;
  padding: 10px;
  background: $primary;
  cursor: pointer;
  color: white;

  &:after {
    font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}
