.empty-list-placeholder {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  .add {
    height: 250px;
    width: 250px;
    font-size: 175px;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }

  .label {
    font-size: 30px;
  }

  .recommendation {
    font-size: 20px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
