@import "~bootswatch/dist/superhero/variables";

.loading-indicator {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  img {
    height: 200px;
  }
}
