@import "~bootswatch/dist/superhero/variables";

.manga-info {
  width: calc(100% - 50px);
  color: $white;
  height: 100%;
  padding: 50px;
  position: fixed;
  left: 50px;
  top: 0;
  flex-direction: row;
  background-color: rgba($gray-900, 0.95);
  margin: 0 !important;
  overflow-y: auto;
  z-index: 100;
  -webkit-animation-duration: 0.5s !important;

  .cover {
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      max-height: 300px;
      overflow: hidden;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .summary {
      em {
        font-size: 0.8rem;
      }
    }

    .actions {
      margin-left: auto;
      margin-bottom: 15px;
      margin-top: 25px;
    }
  }

  .close {
    position: fixed;
    color: $gray-100;
    right: 20px;
    top: 10px;

    &:before {
      font-size: 30px;
    }

    &:hover {
      color: $white;
    }
  }

  .directory-picker {
    input {
      padding: 0;
      color: $white;
      background-color: rgba($gray-100, 0.1);
      border: 0;
      border-bottom: 2px solid $white;
      height: 21px;
      padding-left: 5px;
      font-size: 0.75em;
    }

    button {
      font-size: 0.75rem;
      height: 22px;
      display: flex;

      span:last-of-type {
        margin-top: -5px;
      }
    }
  }
}
