@import "~bootswatch/dist/superhero/variables";

.manga-info {
  width: calc(100% - 50px);
  color: $white;
  height: 100%;
  padding: 50px;
  position: fixed;
  left: 50px;
  top: 0;
  flex-direction: row;
  background-color: rgba($gray-900, 0.95);
  margin: 0 !important;
  overflow-y: auto;
  z-index: 100;
  -webkit-animation-duration: 0.5s !important;

  .cover {
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      max-height: 300px;
      overflow: hidden;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .summary {
      em {
        font-size: 0.8rem;
      }
    }

    .actions {
      margin-left: auto;
      margin-bottom: 15px;
    }
  }

  .close {
    position: fixed;
    color: $gray-100;
    right: 20px;
    top: 10px;

    &:before {
      font-size: 30px;
    }

    &:hover {
      color: $white;
    }
  }

  .chapters {
    padding: 0;
    border: 0;

    .header-item {
      background-color: $secondary;
      padding: 5px;

      > span {
        align-self: center;
      }

      button {
        background-color: unset;
      }
    }

    .chapters-list {
      max-height: 250px;
      overflow: auto;
      background-color: $gray-900;
      flex-direction: row;
      margin-left: 0;
      margin-right: 0;

      .active {
        background-color: $gray-500;
        border-color: $gray-500;
      }

      .count {
        padding: 7px;
      }

      .list-group-item {
        padding: 0;
        border: 0;
        background-color: $gray-900;
        font-size: 0.8rem;
      }
    }

    .range {
      font-size: 0.8rem;

      input {
        padding: 0;
        color: $white;
        background-color: rgba($gray-100, 0.1);
        border: 0;
        border-bottom: 2px solid $white;
        max-width: 55px;
        padding-left: 5px;
      }
    }
  }
}
